@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


body{
    background-image: url(../IMG/color-g711e0da9e_1920a.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200vh;
    margin: 104px 1%;
    
}

#logoar.navbar-brand {
  width: 180px;
}

.navbar-nav a {
  
  background-color: #46ce2400;
  color: #d8e0e7;
  border-radius: 30%;
  text-align: center;
}

.dropdown-menu {
  
  --bs-dropdown-bg: #181616;
}

#fondo-foto-perfil{
    background-position: center;
    background-image: url(../IMG/monochrome-abstract-space-text-mathematics-brand-199275a-wallhere.com);
    min-height: 60vh;
    z-index: 0;
    opacity: 0.;
    border:3px solid #000000;
    border-radius:22px;
}

#Experiencia{
    background-image: url(../IMG/wallpaperbetter.com_1920x1080a.jpg);
    font-family: Lobster;
    align-items: center;
    margin-top: 10%;
    border-radius: 3%;
    border:3px solid #3e0846cb;
    border-radius:22px;
}

#Educacion{
    background-image: url(../IMG/wallpaperbetter.com_1920x1080a.jpg);
    font-family: Lobster;
    align-items: center;
    border:3px solid rgba(10, 10, 10, 0.514);
    border-radius:22px;
}

#Habilidades{
    background-image: url(../IMG/wallpaperbetter.com_1920x1080a.jpg);
    font-family: Lobster;
    padding-block: 25px;
    align-items: center;
    border:3px solid #3e0846cb;
    border-radius:22px;
}

#Proyectos{
  background-image: url(../IMG/wallpaperbetter.com_1920x1080a.jpg);
  font-family: Lobster;
  align-items: center;
  border:3px solid rgba(10, 10, 10, 0.514);
  border-radius:22px;
}

.progress-circle {
    position: relative;
    display:inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ebebeb; 
  }
  
.progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
  }
  
.progress-circle span {
    font-size: 1rem;
    color: #f7f1f1;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    text-align: center;
    border-radius: 50%;
    background: rgba(58, 104, 134, 0.897);
    z-index: 1; 
  }
  
.progress-circle span:after {
    content: "%";
    font-weight: 600;
    color: #e9e3e4; 
  }


/*.text-rub{
        font-family:'Courier New', Courier, monospace;
        font-weight: bold;
        color: #e4e3d2;
        display:inline-block;
        position: relative;
        z-index: 1;
        top: -80px;
        left: -100px;
  }*/

.progress-text {
        position: relative;
        display: inline-block;
  }

.progress-circle b {
        font-family:'Courier New', Courier, monospace;
        font-size: 1.05rem;
        color: #13e471;
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        line-height: 0px;
        margin-left: -15px;
        margin-top: -20px;
        z-index: 2; 
  }

    
  
  .progress-circle.progress-0:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(90deg, #ff66d9 50%, #ebebeb 50%, #ebebeb); }
  
    .progress-circle.progress-65:after {
        background-image: linear-gradient(-36deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
  
    .progress-circle.progress-50:after {
            background-image: linear-gradient(-90deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
  
    .progress-circle.progress-30:after {
        background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(198deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
  
    .progress-circle.progress-20:after {
        background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(151.2deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }

    
    @-webkit-keyframes colorload {
        0% {
          opacity: 0;
          transform: rotate(0deg); }
        100% {
          opacity: 1;
          transform: rotate(360deg); } 
      }

      
.text-graph{
    
    font-family: Arial, Helvetica, sans-serif;
    color:#eef2f5;
    position:absolute;
    left:0%;
}


.rounded-circle.w-25{
    position:absolute;
    z-index: 1;
    background-color: #2fbe36cc;
    height:auto;
    width: 15% !important;
    margin-top: -7%;
    margin-left: 7%;
}

.rounded-circle {
    border:3px solid #dbc4c483;
    border-radius: 40%!important;
    box-shadow: 12px 12px 12px rgba(37, 13, 2, 0.671)
}

.col-6.md-auto.me-auto{
    font-weight: 900;
    color:#0e0d0d;
    font: oblique bold 120% cursive;
    z-index: 2;
    background-color:transparent;
    margin-top: 15%;
}

h1.sobre-mi{
    font-size: 250%;
    text-align: right;
    margin-top: -10%;
    color:#ffffff;
    font-weight: normal;
    
}



.navbar.navbar-expand-lg.bg-secondary{
    background: rgb(10,134,0);
    background: -moz-radial-gradient(circle, rgba(10,134,0,1) 35%, rgba(0,255,106,1) 100%, rgba(39,171,15,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(10,134,0,1) 35%, rgba(0,255,106,1) 100%, rgba(39,171,15,1) 100%);
    background: radial-gradient(circle, rgba(10,134,0,1) 35%, rgba(0,255,106,1) 100%, rgba(39,171,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a8600",endColorstr="#27ab0f",GradientType=1);
}
i.fa-brands.fa-instagram.fa-xl{
    color:rgb(123, 123, 156);
}
i.fa-brands.fa-instagram.fa-xl:hover{
    color:rgb(62, 62, 223);
}
i.fa-brands.fa-facebook.fa-xl{
    color:blue;
}
i.fa-brands.fa-facebook.fa-xl:hover{
    color:rgb(21, 21, 122);
}
i.fa-brands.fa-linkedin.fa-xl:hover{
    color:blueviolet;
}
i.fa-brands.fa-github.fa-xl{
    color:rgb(230, 131, 118);
}
i.fa-brands.fa-github.fa-xl:hover{
    color:brown;
}
i.fa-solid.fa-user-lock.fa-xl{
    color:rgb(112, 42, 10);
}
i.fa-solid.fa-user-lock.fa-xl:hover{
    color:rgb(221, 219, 82);
}
.list-group{
  
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
    --bs-list-group-item-padding-x: 0.25rem;
    
}

.fixed-top{
    top: 12px;
    right: 1%;
    left: 1%;
    border:3px solid rgb(10, 10, 10);
   border-radius:22px;
}


html {
  scroll-behavior: smooth;
}


section[id] {
  scroll-margin-top: 110px;
}

#sobremi {
  scroll-margin-top: 300px;
}


.rojo{
    margin-top: 20%;
    color:#f1f7f7;
    font-weight: normal;
}
.espacio{
    font: oblique bold 120% cursive;
    padding: 10%;
}

.espacio p{
    color:#3d6bc0;

}

h3 {
    color:#d9f3f3
}

/*::::: Pie de Pagina"*/

.ple-pagina{
    width:100%;
    background-color:#0a141d;
}
 .pie-pagina .grupo-1{
    width:100%;
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:50px;
    padding:45px 0px;
 }
 .pie-pagina .grupo-1.box figure{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
 }

 -pie-pagina-grupo-1.box figure img{
    width:250px;
 }
 -pie-pagina-grupo-1.box h2{
    color:#fff;
    margin-bottom:25px;
    font-size:20px;
 }
 .pie-pagina .grupo-1.box p{
    color:#efefef;
    margin-bottom:10px;
 }
 pie-pagina .grupo-1.red-social a{
    display:inline-block;
    text-decoration:none;
    width:45px;
    height:45px;
    line-height:45px;
    color:#fff;
    margin-right:10px;
    background-color:#0d2033;
    text-align:center;
    transition:all 300ms ease;
}

.pie-pagina-grupo-1.red-sociala:hover{
  color:aqua;
}
  
.grupo-2{
  background-color:#0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #afff;
}

.pie-pagina-grupo-2small{
  font-size:15px;
}

@media screen and(max-width:800px){
.pie-pagina .grupo-1{
  width:90%;
  grid-template-columns:repeat(1, 1fr);
  grid-gap:30px;
  padding:35px 0px;
}
}

@media(max-width:550px) {
    h3 {
        writing-mode:vertical-lr;
        text-orientation:sideways;
    }
}


  